@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*=========== basic settings============ */

body {
  max-width: 1920px;
  height: auto;
  font-family: "Poppins";
  font-style: normal;
  background: #1c1b21;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================================================ */

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
}

/* ============================================== */

/* =================Header====================== */

/* ============================================= */

.header {
  position: absolute;
  height: 90px;
  width: 100%;
}

.header .header__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 691px;
  padding: 0 10px;
}

.header__row {
  height: 60px;
  width: 100%;
  margin: 30px 0 0px 0;
}

.container-header {
  max-width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px 10px;
}

.header__logo {
  width: 225px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo img:last-child {
  padding: 12px 0 0 0;
}

.header__menu {
  width: 70.2%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.header__menu .menu__body {
  width: 100%;
}

.header__menu .menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__menu .menu__list li img {
  display: none;
}

.header__menu .menu__link {
  font-size: 1.125rem;
  font-weight: 600;
  color: #cccccc;
}

.header__menu .menu__link:hover {
  color: #7a66cc;
}

/* ====================================== */

/* ===================Hero================ */

/* ====================================== */

.hero {
  width: 100%;
  height: 1030px;
  background: url("../img/Full-screen-header.jpg") no-repeat;
  background-size: cover;
}

.hero__body {
  width: 100%;
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 322px 0 0 0;
  padding: 0 10px;
}

.title-h2 {
  font-family: "Poppins";
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
}

.title-1 {
  font-weight: 700;
  font-size: 6.25rem;
  text-transform: uppercase;
  color: transparent;
  /* прозрачный цвет букв */
  -webkit-text-stroke: 0.5px #fff;
}

.hero__audio {
  background-color: transparent;
}

/* =========================================== */

/* =====================News================== */

/* =========================================== */

.news {
  position: absolute;
  top: 851px;
  z-index: 4;
  width: 100%;
  height: auto;
}

.news__cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.news__card {
  position: relative;
  flex: 0 1 31%;
  height: 350px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.news__card-1 {
  background: url("../img/news-card-1.jpg") no-repeat;
  background-size: cover;
}

.news__card-desc {
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  background-color: #7a66cc;
  opacity: 0.7;
  border-bottom-right-radius: 40px;
}

.news__card-text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  vertical-align: middle;
}

.news__card-2 {
  background: url("../img/news-card-2.jpg") no-repeat;
  background-size: cover;
}

.news__card-3 {
  background: url("../img/news-card-3.jpg") no-repeat;
  background-size: cover;
}

/* ========================================= */

/* ================About==================== */

/* ========================================== */

.about {
  margin: 330px 0 0px 0;
  height: 595px;
}

.about__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.about-left {
  flex: 0 1 49.5%;
  height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-left__head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-left__img img {
  padding: 0 30px 0 0px;
}

.about-left__text p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0.7;
}

.about-left__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 87px;
}

.about-left__desc {
  flex: 0 1 49%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 0;
}

.about-left__desc img {
  padding: 0 20px 0 0;
}

.about-left__desc p {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
}

.about-right {
  flex: 0 1 40.82%;
}

.about-right__box {
  position: relative;
  width: 445px;
  height: 466px;
}

.about-right__box img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
}

.about-right__box img:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 7;
  opacity: 0.3;
}

/* ================================= */

/* =============Benefits============ */

/* ================================= */

.benefits {
  margin: 151px 0 0 0;
}

.benefits__body {
  position: relative;
  height: 483px;
  padding: 85px 10px;
}

.benefits__info {
  height: 313px;
  border: 1px solid #ffffff;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.benefits__desc {
  width: 660px;
  height: 313px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 60px 50px 80px;
}

.benefits__desc p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
}

.benefits__desc p::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  margin: 25px 0;
  background-color: #ffffff;
}

.benefits__limk {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #7a66cc;
}

.benefits__limk:hover,
.benefits__limk:focus {
  color: #ffffff;
}

.benefits__quotes {
  position: absolute;
  left: 80px;
  top: 139px;
}

.benefits__img {
  position: absolute;
  top: 0px;
  right: 80px;
}

.benefits__img img {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* ========================================== */

/* ==================Tracks================== */

/* ========================================= */

.tracks {
  margin: 140px 0 0 0;
}

.tracks__body {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 585px;
  padding: 0 10px;
  animation: go-left-right 3s infinite alternate running;
  -webkit-animation: go-left-right 3s infinite alternate running;
}

.tracks__body:hover,
.tracks__body:focus {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes go-left-right {
  from {
    left: 90%;
  }

  to {
    left: 0%;
  }
}

@-webkit-keyframes go-left-right {
  from {
    left: 90%;
  }

  to {
    left: 0%;
  }
}

.tracks__picture {
  position: relative;
  width: 510px;
  height: 510px;
}

.tracks__circle-outside {
  position: absolute;
  top: 0px;
  left: 0px;
}

.tracks__circle-inside {
  position: absolute;
  left: 18px;
  top: 19px;
}

.tracks__image {
  position: absolute;
  left: 36px;
  top: 38px;
}

.tracks-info {
  height: 100%;
  width: 48.65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tracks-info__head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tracks-info__img img {
  padding: 0 30px 0 0;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player .player__line-loader {
  width: 317px;
  height: 2px;
  background: linear-gradient(90deg, rgba(122, 102, 204, 0.9850315126) 0%, white 29%);
}

.player .player__counter {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
}

.tracks-info__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tracks-info__list li {
  padding: 10px 0;
}

.tracks-info__list li span {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0.5;
}

.tracks-info__list li a {
  padding: 0 0 0 10px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
}

.tracks-info__list li a:hover,
.tracks-info__list li a:focus {
  color: #7a66cc;
}

.more {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.more__title {
  padding: 0 40px 0 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ffffff;
}

.more__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.more__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0 0;
}

.more__item:last-child {
  margin-right: 0;
}

.more__link {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #ffffff;
}

.more__link:hover,
.more__link:active {
  color: #7a66cc;
}

/* ===================================== */

/* ==================Gallery============= */

/* ====================================== */

.gallery {
  margin: 180px 0 0 0;
}

.gallery__body {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  height: auto;
}

.gallery__item {
  display: block;
  position: relative;
  width: 255px;
  height: 100%;
}

.gall-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gall-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gall-item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gall-item-4 {
  width: 540px;
  margin: 25px 0 0 0;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gall-item-5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item-img {
  border-bottom-right-radius: 30px;
  display: block;
}

.gallery__item-img img {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.gallery__item-slogan {
  position: absolute;
  width: 100%;
  padding: 87% 0;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: #7a66cc;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.gallery__item-slogan:hover {
  background: #1C1B21CC;
  opacity: 1;
  visibility: visible;
}

.slogan-1,
.slogan-5 {
  padding: 87% 0;
}

.slogan-2,
.slogan-3 {
  padding: 25% 20%;
}

.slogan-4 {
  padding: 16% 21%;
}

/* ================================= */

/* =============Events============= */

/* ================================= */

.events__body {
  position: relative;
  width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 180px 0;
}

.sliders-container {
  position: relative;
  width: 1110px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.sliders__track {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
}

.sliders__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* +++++++++++++++++++++++++++++++++++++++++++ */

.events__image {
  position: relative;
}

.events__image img {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 10;
}

.events__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 94.6%;
  height: 213px;
  margin: -20px 0 0 0;
  padding: 50px 0 0px 0;
  border-bottom-right-radius: 30px;
  background-color: #2f2b2b;
}

.events__location {
  height: 73px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 35px;
}

.events__location p:first-child {
  font-weight: 700;
  font-size: 1.125rem;
  color: #ffffff;
  opacity: 0.5;
}

.events__location p:last-child {
  font-weight: 500;
  font-size: 1.125rem;
  color: #ffffff;
}

.events__order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.events__date {
  padding: 20px 0 0 35px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.events__btn {
  width: 180px;
  height: 60px;
  background-color: #7a66cc;
  border-top-left-radius: 31px;
  border-bottom-right-radius: 31px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.events__btn:hover,
.events__btn:focus {
  background-color: #363146;
}

.events__arrow-left {
  position: absolute;
  top: 48%;
  left: -7%;
  width: auto;
  margin: -22px 0px 0 0;
  padding: 16px;
  cursor: pointer;
}

.events__arrow-right {
  position: absolute;
  right: -7%;
  top: 48%;
  width: auto;
  margin: -22px 0px 0 0;
  padding: 16px;
  cursor: pointer;
}

/* =================================== */

/* =============Footer================ */

/* =================================== */

.footer__container {
  width: 553px;
  height: 414px;
  margin: 0 auto 40px auto;
  padding: 0 10px;
}

.footer__body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

/*    .footer__body::before {
      content: '';
      position: absolute;
      z-index: -2;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      background: #1c1b21;
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;           
      background-image: 
      -o-linear-gradient(#BFE2FF, #BFE2FF), 
      -o-linear-gradient(#337AB7, #337AB7), 
      -o-linear-gradient(green, green), 
      -o-linear-gradient($background-violet, $background-violet);

      background-image: 
      -webkit-gradient(linear, left top, left bottom, from(#BFE2FF), to(#BFE2FF)), 
      -webkit-gradient(linear, left top, left bottom, from(#337AB7), to(#337AB7)), 
      -webkit-gradient(linear, left top, left bottom, from(green), to(green)), 
      -webkit-gradient(linear, left top, left bottom, from($background-violet), to($background-violet));

      background-image: 
      linear-gradient(#BFE2FF, #BFE2FF), 
      linear-gradient(#337AB7, #337AB7), 
      linear-gradient(green, green), 
      linear-gradient($background-violet, $background-violet);

      -webkit-animation: anim-ramka-5 4s linear infinite;

              animation: anim-ramka-5 4s linear infinite;
   }
   .footer__body::after {
       content: '';
       position: absolute;
       z-index: -1;
       left: 6px;
       top: 6px;

       width: calc(100% - 12px);
       height: calc(100% - 12px);
       background: #1c1b21;
       border-radius: 5px;
   }
   @-webkit-keyframes anim-ramka-5 {
       100% {
           -webkit-transform: rotate(1turn);
                   transform: rotate(1turn);
       }
   }
   @keyframes anim-ramka-5 {
       100% {
           -webkit-transform: rotate(1turn);
                   transform: rotate(1turn);
       }
   } */

.footer__logo {
  width: 223px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__logo img:last-child {
  padding: 12px 0 0 0;
}

.footer__contact {
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer__contact-name {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}

.footer__contact-name span {
  padding: 0 30px 0 0;
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__contact-name p {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__contact-email {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.footer__contact-email span {
  padding: 0 30px 0 0;
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__contact-email a {
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social {
  width: 95.65%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__icon {
  width: 60px;
  height: 60px;
  background-color: #7a66cc;
  border: 8px solid #2c2c2c;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}

.footer__icon:hover,
.footer__icon:focus {
  border: 6px solid #363146;
  filter: brightness(1.2);
}

.footer__link-social img {
  padding: 10px 13px;
}

.link-social-1 img {
  padding: 10px 13px;
}

.link-social-2 img {
  padding: 13px 13px;
}

.link-social-3 img {
  padding: 13px 13px;
}

.link-social-4 img {
  padding: 15px 13px;
}

.link-social-5 img {
  padding: 15px 12px;
}

.link-social-6 img {
  padding: 12px 12px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 0.8125rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

/* ====================================================== */

/* =====================Media Queries==================== */

/* ===================================================== */

@media (max-width: 1270px) {
  /* ==============Events======== */

  .events__body,
  .sliders-container {
    width: 730px;
  }

  .events__arrow-left {
    left: -10%;
  }

  .events__arrow-right {
    right: -11%;
  }
}

@media (max-width: 1210px) {
  /* =============Benefits=========== */

  .benefits {
    margin: 40px 0 0 0;
  }

  .benefits__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 740px;
    padding: 40px 12px;
  }

  .benefits__info {
    width: 90%;
  }

  .benefits__img {
    top: 230px;
  }

  /* =============Tracks============= */

  .tracks {
    margin: 50px 0 0 0;
  }

  .tracks__body {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
    width: 100%;
    height: 1200px;
  }

  .tracks__picture {
    align-self: end;
    height: 585px;
  }

  .tracks-info {
    height: 685px;
    width: 100%;
  }

  .player {
    justify-content: space-evenly;
    align-items: center;
  }

  .player .player__line-loader {
    width: 380px;
  }

  /* =============Gallery============== */

  .gallery {
    margin: 70px 0 0 0;
  }

  .gallery__body {
    width: 82.9%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 25%);
    justify-content: space-around;
    justify-items: center;
  }

  .gall-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gall-item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gall-item-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gall-item-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .gall-item-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__item-img {
    margin: 0 0 25px 0;
  }

  /* ===============Events================= */

  .events__body {
    padding: 120px 0;
  }
}

@media (max-width: 991px) {
  /* ===============Hero============= */

  .hero {
    height: 970px;
  }

  .title-1 {
    font-size: 4.375rem;
  }

  .title-h2 {
    font-size: 3.125rem;
  }

  /* ============About============ */

  .about {
    height: 920px;
  }

  .about__body {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: 100%;
  }

  .about-left {
    row-gap: 20px;
  }

  .about-right__box {
    margin: 0 auto;
    width: 65%;
  }

  /* =============Gallery============== */

  .gallery {
    margin: 70px 0 0 0;
  }

  .gallery__body {
    width: 90%;
  }

  .gallery__item-slogan {
    font-size: 1.25rem;
  }

  .slogan-1,
  .slogan-5 {
    padding: 87% 0;
  }

  .slogan-2,
  .slogan-3 {
    padding: 35% 10%;
  }

  .slogan-4 {
    padding: 19% 23%;
  }
}

@media (max-width: 900px) {
  /* ============Header=========== */

  .header {
    position: fixed;
    z-index: 15;
  }

  .header__row {
    margin: 0 0 0 0;
  }

  .container-header {
    height: 70px;
    background-color: #363146;
    padding: 5px 10px;
  }

  .header__menu {
    width: 65%;
  }

  /* ===================Hero================= */

  .hero__body {
    margin: 220px 0 0 0;
  }

  /* ==============News=================== */

  .news {
    top: 630px;
  }

  .news__cards {
    padding: 0 8px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .news__card {
    flex: 0 1 48%;
  }

  /* =============About=========== */

  .about {
    margin: 460px 0 0 0;
  }

  /* =============Events============== */

  .events__body {
    padding: 100px 0px 70px 0px;
  }

  .events__body,
  .sliders-container {
    width: 330px;
  }

  .events__arrow-left {
    left: -17%;
  }

  .events__arrow-right {
    right: -20%;
  }

  /*   .sliders__track{
     -webkit-column-gap: 5px;
        -moz-column-gap: 5px;
             column-gap: 5px;
  }
   .events__info {
      width: 100%;
   }
   .events__location {
      padding: 0 15px;
   }
   .events__date {
      padding: 20px 0 0 15px;   
   }
   .events__order {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -ms-flex-direction: column;
            flex-direction: column;
      -webkit-box-pack: justify;
         -ms-flex-pack: justify;
            justify-content: space-between;
   }
   .events__btn {
      -ms-flex-item-align: end;
         align-self: end;
   } */

  /* .events__arrow-left {    
       right: 99%;   
    }
    .events__arrow-right {   
       right: -60px; 
    } */
}

@media (max-width: 767px) {
  /* ===============Header=============== */

  .header__menu .icon-menu {
    display: block;
    position: absolute;
    width: 30px;
    top: 25px;
    right: 18px;
    height: 18px;
    cursor: pointer;
    z-index: 16;
  }

  .header__menu .icon-menu span {
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .header__menu .icon-menu span:first-child {
    top: 0;
  }

  .header__menu .icon-menu span:nth-child(2) {
    top: 8px;
  }

  .header__menu .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .header__menu .icon-menu.active span {
    transform: scale(0);
    background-color: #ffffff;
  }

  .header__menu .icon-menu.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .header__menu .icon-menu.active span:last-child {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    z-index: 15;
    background-color: #363146;
    overflow: auto;
    transform: translate(0%, -100%);
    transition: transform 0.7s linear;
  }

  .menu__body.active {
    transform: translate(0%, 0%);
  }

  .menu__body .menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  .menu__body .menu__list li {
    padding: 10px 0 0px 0px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #7a66cc;
  }

  .menu__body .menu__list li img {
    display: block;
    margin: 0 7px 0 0px;
  }

  .menu__body .menu__link {
    font-size: 1.25rem;
    color: #7a66cc;
  }

  .menu__body .menu__link:hover {
    color: #fff;
  }

  /* ================Hero============ */

  .hero {
    height: 720px;
  }

  .title-1 {
    font-size: 2.5rem;
  }

  .title-h2 {
    font-size: 1.875rem;
  }

  /* ===============News=============== */

  .news__cards {
    flex-wrap: wrap;
    gap: 20px;
  }

  .news__card {
    flex: 1 1 80%;
  }

  .news__card-desc {
    padding: 16px 15px;
  }

  /* =============About=============== */

  .about {
    margin: 1060px 0 0 0;
  }

  /* ============Benefits=============== */

  .about-right__box {
    width: 78%;
  }

  .benefits__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    height: 920px;
  }

  .benefits__info {
    width: 90%;
  }

  .benefits__desc {
    padding: 15px;
    width: 460px;
    width: 100%;
  }

  .benefits__img {
    position: static;
  }

  .benefits__desc p::after {
    margin: 10px 0;
  }

  /* ===============Tracks============== */

  .tracks__picture {
    align-self: center;
  }

  /* ===============Gallery=========== */

  .gallery__body {
    width: 98%;
    row-gap: 10px;
  }

  .gall-item-4 {
    margin: 0px 0 0 0;
  }
}

@media (max-width: 570px) {
  /* =================About=============== */

  .about {
    height: 1100px;
  }

  .about__body {
    height: 100%;
  }

  .about-left {
    height: 640px;
  }

  .about-left__info {
    height: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .about-right__box {
    width: 98%;
  }

  .player {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .player .player__line-loader {
    width: 300px;
  }

  /* ==========Gallery============ */

  .gallery__body {
    width: 98%;
    height: 1600px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 16.6666%);
    justify-content: space-around;
    justify-items: center;
  }

  .gall-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gall-item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gall-item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .gall-item-4 {
    display: none;
  }

  .gall-item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  /* ==============Events======= */

  .events__body {
    padding: 50px 0px 70px 0px;
  }

  .sliders-container {
    width: 330px;
  }

  .sliders__track {
    width: 330px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  /*  .events__info{
     width: 99%;
  } */

  .events__arrow-left,
  .events__arrow-right {
    display: none;
  }

  /* =============Footer========== */

  .footer__container {
    width: 353px;
    height: 300px;
  }

  .footer__contact-name {
    align-self: center;
  }

  .footer__contact-name span {
    padding: 0 7px 0 0;
    font-size: 1rem;
  }

  .footer__contact-name p {
    font-size: 1rem;
  }

  .footer__contact-email {
    align-self: center;
  }

  .footer__contact-email span {
    padding: 2px 7px 0 0;
    font-size: 1rem;
  }

  .footer__contact-email p {
    font-size: 1rem;
  }

  .footer__social {
    width: 99.65%;
  }

  .footer__icon {
    width: 50px;
    height: 50px;
    border: 6px solid #2C2C2C;
  }
}

@media (max-width: 450px) {
  /* ==================About=============== */

  .about-right__box {
    margin: 0 auto;
    width: 98%;
    height: 840px;
  }

  .about-right__box img:first-child {
    top: 3px;
    padding: 0 21px 0 21px;
  }

  .about-right__box img:last-child {
    display: none;
  }

  /* ===============Benefits================ */

  .benefits {
    margin: 20px 0 0 0;
  }

  .benefits__body {
    padding: 20px 12px;
  }

  .benefits__info {
    width: 97%;
  }

  .benefits__desc p::after {
    margin: 10px 0;
  }

  .benefits__info {
    width: 97%;
  }

  /* =============Tracks=============== */

  .player .player__counter {
    padding: 10px 0 0 0;
  }

  .more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}